PROXY__APIKEYHEADER=api-key
PROXY__APIKEY=replace-with-strong-secret
PROXY__UPSTREAMTIMEOUTMINUTES=10

REVERSEPROXY__CLUSTERS__MCP-CLUSTER__DESTINATIONS__D1__ADDRESS=http://localhost:3000/
ASPNETCORE_URLS=http://localhost:8080
