PROXY__APIKEYHEADER=X-API-Key
PROXY__APIKEY=replace-with-strong-secret
PROXY__UPSTREAMTIMEOUTMINUTES=10

REVERSEPROXY__CLUSTERS__MCP-CLUSTER__DESTINATIONS__D1__ADDRESS=https://aifoundryapimdev.azure-api.net/halo-itsm-mcp/mcp/
ASPNETCORE_URLS=http://localhost:8080
